.navlast {
  display: grid;
  place-items: center;
  height: 10%;
  margin-top: 40px;
}

.navlast .box {
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  width: 80%;
  gap: 10px;
  background-color: #d9d9d9;
}

.navlast img {
  width: 25px;
}
